@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.theme-info-wrap {
	position: relative;
	max-width: 1500px;
	margin: 0 auto;
	display: grid;
    font-family: "Roboto", sans-serif;
}
.theme-info-wrap img {
	max-width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 6px #00000029;
    border: 1px solid #707070;
}
.theme-info-wrap hr{
    opacity: 0.5;
    margin: 12px 0;
}
/*theme link*/
span.themelink {
    width: 25%;
    display: inline-block;
    margin: 10px;
    text-align: center;
}
.themelink strong {
    display: block; 
    margin-bottom: 15px; 
    font-weight: 700;
    font-size: 16px;
    color: #707070;
    padding-top: 20px;
}
.themelink a, .themelink-1 a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    background-image: linear-gradient(to right, #4734C0, #8371F6);
    padding: 10px 12px;
    color: #fff !important;
    margin: 10px 0 20px;
    display: inline-block;
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0px 0px 20px #0000005C;
    width: 130px;
}
.themelink-1 a{
	margin-left: 10px;
}
.themelink a:hover,.themelink-1 a:hover {
    background: #4734c0;
}
.important-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.themelink {
    flex-basis: calc(33.33% - 10px); 
    margin-bottom: 20px;
}
.themelink p{
	margin: 5px 0;
    color: #707070;  
}
a.get-premium {
    background-image: linear-gradient(to right, #04B866, #1BE800);
}
.important-link {
    align-items: center;
    border-radius: 15px;  
    text-align: center;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    padding: 3em 2.5em !important;
}
.section a{
    font-size: 16px;
    margin-right: 10px;
    padding: 12px 45px;
    width: auto;
}
/* Clearing Floats */
.theme-info-wrap .clearfix::before,
.theme-info-wrap .clearfix::after {
	display: table;
	content: " ";
}
.theme-info-wrap .clearfix::after {
	clear: both;
}
/* Columns */
.theme-info-wrap .columns-wrapper {
	margin-right: 0;
}
.theme-info-wrap .columns-wrapper .column {
	float: left;
	box-sizing: border-box;
	padding-right: 2em;
}
.theme-info-wrap .columns-wrapper .column-first {
	width: 75%;
}
.theme-info-wrap .columns-wrapper .column-half {
	width: 50%;
}
.theme-info-wrap .columns-wrapper .column-border{
    border-right: 1px solid #787878;
}
.theme-info-wrap .columns-wrapper .column-padding{
    padding-left: 2em;
}
.theme-info-wrap .columns-wrapper .column-third {
	width: 33.3333333333333%;
}
.theme-info-wrap .columns-wrapper .column-quarter {
	width: 25%;
}
.theme-info-wrap #setting-error-tgmpa, 
.theme-info-wrap .clbgd-banner-main {
    order: -1;
}
.columns-wrapper .column-first hr{
    border: 1px solid #787878;
    opacity: 0.5;
}
/* Font Styles */
.theme-info-wrap h3 {
	margin: 0;
	font-size: 1.5em;
	line-height: 1.5;
    color: #707070;
}
.theme-info-wrap h4 {
	margin: 0.2em 0;
	font-size: 1.4em;
}
.theme-info-wrap .note{
    font-weight: 500;
    font-size: 18px;
}
/* Theme Info Header */
.theme-info-wrap h1 {
	margin: 0.2em 0 0 0;
	font-size: 3em;
	line-height: 1.2;
	text-align: center;
	font-weight: 600;
    color: #707070;
}
.theme-info-wrap .theme-description {
	margin: 0.5em 0 0 0;
	min-height: 60px;
	color: #777;
	font-weight: normal;
	font-size: 1.4em;
	line-height: 1.6;
	text-align: center;
}
.theme-info-wrap .theme-description-1 {
	margin: 1em 0;
	min-height: 60px;
	color: #707070;
	font-weight: normal;
	font-size: 1.1em;
	line-height: 1.6;
}
/* Important Links */
.theme-info-wrap .important-links p strong {
	margin-right: 1em;
}
.theme-info-wrap .important-links p a {  
    padding: 10px 32px;
    border-radius: 10px;
}
.important-links.clearfix {
    text-align: center;
}
.theme-demo .themelink{
    margin-top: 30px;
}
.important-link hr, .important-link .themelink{
    margin: 0;
}
.important-link hr{
    width: 90%;
    color: #707070;
    border: 1px solid #787878;
}
.bundle-info{
    background-image: linear-gradient(to right, #4734C0, #8371F6);
    border-radius: 15px;
    text-align: center;
    color: #ffffff;
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
    height: 437px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Getting Started */
#getting-started .section {
	margin: 2em 0 4em;
}
#getting-started .section .about {
	color: #777;
	font-size: 1.2em;
	line-height: 1.6;
}
a.button.button-secondary.premium-btn {
    margin-left: 20px;
}
/* Theme Author */
#theme-author {
	margin: 1em 0;
}
#theme-author p {
	color: #777;
	font-size: 1.2em;
	line-height: 1.6;
}
/* Activation Notice */
.getstrat.updated.notice.notice-success.is-dismissible.notice-get-started-class{
    display: flex !important;
    flex-wrap: wrap;
    padding: 20px;
    gap: 40px;
    order: -1;
    align-items: center;
}
.notice-get-started-class .admin-content {
    flex: 1;
    /* padding-right: 30px; */
    text-align: left;
}
.notice-get-started-class .button{
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}
.notice-get-started-class .admin-content h2 {
    font-size: 23px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
}
.notice-get-started-class .admin-content p {
    color: #3c434a;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 14px;
}
.notice-get-started-class .admin-content > div {
    justify-content: left;
    grid-template-columns: auto auto auto auto;
}
.notice-get-started-class .admin-image img{
    height: 240px;
    width: 100%;
    max-width: 320px;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #ddd;
    border-radius: 4px;
}
.notice-get-started-class .button-group.button-hero .button, .wp-core-ui .button.button-hero {
    font-size: 14px;
    min-height: 46px;
    line-height: 3.14285714;
    padding: 4px 38px;
    margin-right: 4px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    outline: none;
    width: 184px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#fff !important;
}
.notice-get-started-class .button.button-hero {
  background-image: linear-gradient(to right, #4734C0, #8371F6) !important;
}
.notice-get-started-class .button.button-hero.upgrade-pro {
  background-image: linear-gradient(to right, #04B866, #1BE800) !important;
}
.notice-get-started-class .admin-content .dashicons{
    vertical-align: middle;
    margin-left: 5px;
}
.notice-get-started-class .notice-dismiss {
    position: absolute;
    top: 0;
    right: 1px;
    border: none;
    margin: 0;
    padding: 9px;
    background: 0 0;
    color: #787c82;
    cursor: pointer;
}
.banner-img-wrap img{
    border: none;
    box-shadow: none;
}
.notice-get-started-class .admin-bundle-image img{
    height: 280px;
}

/* Bundle Info */
.bundle-info .bundle-image{
    border-radius: unset !important;
    box-shadow: unset !important;
    border: unset !important;
}
.bundle-info h3{
    font-size: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.bundle-info b{
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0;
}
.bundle-info a{
    width: 175px;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
    transition: transform 0.3s ease-in-out;
}
.bundle-info a:hover{
    transform: scale(1.2);
}
.bundle-info a:hover {
    transform: scale(1.1);
}

.bundle-info .bundle-content{
    padding: 0px 30px;
}
.bundle-info .themelink{
    margin-bottom: 35px;
    margin-top: unset;
}
.bundle-info a:hover{
    background-image: linear-gradient(to right, #04B866, #1BE800);
}
@media screen and (max-width: 1400px) and (min-width: 991px){
    .start-box .button-large{
        padding: unset;
    }
    .bundle-info a{
        width: 90px;
    }
}
@media screen and (max-width: 1300px) {
    .notice-get-started-class .admin-content > div {
        grid-template-columns: auto auto;
    }
    .notice-get-started-class .admin-content .admin-notice-btn{
        margin: 5px;
    }
    .view-site-btn {
        flex-wrap: wrap;
    }
} 
@media screen and (max-width: 991px) {
    .notice-get-started-class .admin-content > div {
        grid-template-columns: auto;
    }
    .theme-info-wrap .columns-wrapper .column-quarter, 
    .theme-info-wrap .columns-wrapper .column-first,
    .theme-info-wrap .columns-wrapper .column-half,
    .theme-info-wrap .columns-wrapper .column-third {
        width: 100%;
        
    }
    .theme-info-wrap .columns-wrapper .column{
        padding-right: unset;
    }
    .columns-wrapper .column-first hr{
        opacity: 0;
    }
    .theme-info-wrap .columns-wrapper .column-border{
        border: unset;
    }
    .theme-info-wrap .columns-wrapper .column-padding{
        padding-left: unset;
    }
    .bundle-info{
        margin-top: 20px;
    }
} 